<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Starting_C</servlet-name>
        <servlet-class>Starting_C</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Starting_Java</servlet-name>
        <servlet-class>Starting_Java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertData</servlet-name>
        <servlet-class>InsertData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>Start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>choice_select</servlet-name>
        <servlet-class>choice_select</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Result</servlet-name>
        <servlet-class>Result</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Starting_C</servlet-name>
        <url-pattern>/Starting_C</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Starting_Java</servlet-name>
        <url-pattern>/Starting_Java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertData</servlet-name>
        <url-pattern>/InsertData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/Start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>choice_select</servlet-name>
        <url-pattern>/choice_select</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Result</servlet-name>
        <url-pattern>/Result</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
